.button {
	color: white;
	cursor: pointer;
	outline: none;

	&.large {
		border-radius: 8px;
		font: normal normal normal 20px/#{$f-1-l-h} $f-1;
		padding: $g-3 $g-4;
	}

	&.medium {
		border-radius: 8px;
		font: normal normal normal 16px/#{$f-1-l-h} $f-1;
		padding: $g-2 $g-3;
	}

	&.small {
		border-radius: 6px;
		font: normal normal normal 12px/#{$f-1-l-h} $f-1;
		padding: $g-1 $g-2;
	}

	&.positive {
		background: $c-2;
		color: white;

		&:hover {
			background: lighten($c-2, 5%);
		}
	}

	&.neutral {
		background: $c-1;
		color: white;

		&:hover {
			background: lighten($c-1, 5%);
		}
	}

	&.negative {
		background: $c-3;
		color: white;

		&:hover {
			background: lighten($c-3, 5%);
		}
	}
}