.consent {
	p, ul {
		margin-top: $g-2;
		text-align: left !important;
	}

	> * {
		&:nth-child(n + 3) {
			margin-top: $g-2;
		}
	}

	ol, ul {
		list-style: disc inside;
		margin-left: $g-3;
		text-indent: -1 * $g-2;
	}
}