.create,
.login {
	margin: 0 auto;
	max-width: $g-7;
	width: 100%;
	padding: 0 $g-3;
	position: relative;

	&.collapsible {
		h2 {
			cursor: pointer;

			&:hover {
				background: transparentize(white, .75);
			}
		}
	}

	h2 {
		font: normal normal normal 20px/#{$f-1-l-h} $f-1;
		padding: $g-2;
		text-align: center;
		background: transparentize(white, .7);
		border-radius: $g-1;
	}

	form {
		position: relative;

		> *:nth-last-of-type(n + 2) {
			border-bottom: 1px solid transparentize(white, .8);
		}

		.input {
			width: 90%;
			margin: 0 auto;

			&.stayLoggedIn {
				span {
					display: block;
					width: 100%;
					padding: $g-2 $g-4;
					color: white;
					font: normal normal 100 16px/#{$f-1-l-h} $f-1;
					background: transparentize(white, .9);
				}
			}
		}

		input[type="submit"] {
			width: 90%;
			display: block;
			margin: 0 auto;
			border-radius: 0 0 $g-1 $g-1;
			outline: none;
		}

		.waiting {
			left: 5%;
			width: 90%;
			background: transparentize(#243647, .1);
			border-radius: 0 0 $g-1 $g-1;
		}
	}

	p {
		display: block;
		text-align: center;
		padding: $g-3 0 0 0;
		font: normal normal 100 12px/#{$f-1-l-h} $f-1;
		color: transparentize(white, .2);

		a {
			text-decoration: none;
			cursor: pointer;
		}
	}
}

.create {
	p {
		a {
			color: $c-2;

			&:hover {
				color: lighten($c-2, 5%);
			}
		}
	}
}

.login {
	p {
		a {
			color: $c-1;

			&:hover {
				color: lighten($c-1, 5%);
			}
		}
	}
}