.details {
	margin: 0 auto;
	width: $g-7 + $g-6 + $g-4;
	max-width: 100%;
	padding: 0 $g-3;

	h2 {
		text-align: center;
		font: normal normal 100 30px/#{$f-1-l-h} $f-1;
	}

	form {
		margin: $g-3 + $g-2 0 0 0;

		ul {
			list-style: none;
		}
	}
}