footer.global {
	height: $g-5;
	color: transparentize(white, .8);
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		&:nth-child(2) {
			margin: 0 $g-1;
		}
	}

	a {
		color: transparentize(white, .8) !important;
		text-decoration: none;
		border-bottom: 1px solid transparentize(white, .8);
		cursor: pointer;

		&:hover {
			color: white !important;
			border-bottom: 1px solid white;
		}
	}
}