nav.global {
	position: fixed;
	top: 0;
	right: 0;

	ul {
		list-style: none;

		li {
			a {
				cursor: pointer;
				text-decoration: none;
				display: block;
				font: normal normal 100 14px/#{$f-1-l-h} $f-1;
				text-transform: capitalize;
				color: white;

				span {
					cursor: pointer;
				}

				&.active {
					cursor: default;

					span {
						cursor: default;
					}
				}
			}

			&:nth-child(1) a:hover,
			&:nth-child(1) a.active {
				color: $c-2;
			}

			&:nth-child(2) a:hover,
			&:nth-child(2) a.active {
				color: $c-1;
			}

			&:nth-child(3) a:hover,
			&:nth-child(3) a.active {
				color: $c-3;
			}
		}
	}

	@media all and (max-width: $bp-2 - 1) {
		padding: $g-3;
		z-index: 0;
		width: $g-6 + $g-4;
		background: darken(mix(grey, #12204f, 40%), 15%);
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		ul {
			li {
				a {
					text-align: left;
					padding: $g-1 $g-2;

					span {
						display: inline-block;
						padding: 0 0 0 $g-2;
					}
				}
			}
		}
	}

	@media all and (min-width: $bp-2) {
		padding: 0 $g-3;
		z-index: 2;

		ul {
			display: flex;

			li {
				a {
					text-align: center;
					padding: $g-3;

					span {
						display: block;
						padding: $g-1 0 0 0;
					}
				}
			}
		}
	}
}