.profile {
	.wrapper.medium {
		width: $g-8;;
		padding-top: $g-3;

		.buttons {
			text-align: center;
			margin: $g-3 0;
			display: flex;
			justify-content: space-between;

			.button {
				flex: 0 0 auto;
			}
		}
	}
}