.profile {
	.wrapper.medium {
		width: $g-8;
		padding-top: $g-3;

		.buttons {
			text-align: center;
			margin: $g-3 0;
			display: flex;
			justify-content: space-between;

			.button {
				flex: 0 0 auto;
			}
		}
	}

	@media all and (min-width: $bp-2) {
		.securityAnswer {
			label {
				border-radius: 0 0 0 $g-1;
			}

			.container {
				border-radius: 0 0 $g-1 0;
			}
		}

		.nutritionGoal {
			margin-top: $g-3;

			label {
				border-radius: $g-1 0 0 0;
			}

			.container {
				border-radius: 0 $g-1 0 0;
			}
		}
	}
}