aside {
	position: relative;

	.help {
		position: absolute;
		background: #e9e9e9;
		font: normal normal 300 14px/#{$f-1-l-h} $f-1;
		color: black;
		width: 200px;
		border-radius: 5px;
		padding: 15px 20px;
		z-index: 100;
		text-align: left;

		&:after {
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-style: solid;
			border-color: rgba(0, 0, 0, 0);
		}
	}

	@media all and (max-width: $bp-4 - 1) {
		.help {
			top: $g-4 + $g-2;
			right: 0;

			&:after {
				border-bottom-color: #e9e9e9;
				border-width: 18px 10px;
				bottom: 100%;
				right: $g-2;
			}
		}
	}

	@media all and (min-width: $bp-4) {
		.help {
			top: -$g-1;
			left: $g-4 + $g-2;

			&:after {
				top: $g-3 + $g-1;
				right: 100%;
				border-right-color: #e9e9e9;
				border-width: 10px 18px;
				margin-top: -10px;
			}
		}
	}
}