.create,
.login {
	margin: 0 auto;
	max-width: 320px;
	width: 100%;
	padding: 0 $g-3;

	&.collapsible {
		h2 {
			cursor: pointer;

			&:hover {
				background: transparentize(white, .75);
			}
		}
	}

	h2 {
		font: normal normal normal 20px/#{$f-1-l-h} $f-1;
		padding: $g-2;
		text-align: center;
		background: transparentize(white, .7);
		border-radius: $g-1;
	}

	form {
		overflow: hidden;

		> div {
			width: 90%;
			margin: 0 auto;
			position: relative;

			&:nth-last-of-type(n + 2) {
				border-bottom: 1px solid transparentize(white, .8);
			}



			input {
				display: block;
				width: 100%;
				padding: $g-2;
				color: white;
				font: normal normal 100 16px/#{$f-1-l-h} $f-1;
				background: transparentize(white, .9);
				cursor: auto;
			}

			&.invalid {
				input {
					padding-right: $g-4;
				}

				[class^="icon-"] {
					position: absolute;
					top: 8px;
					right: 8px;
					font-size: 19px;
					line-height: 26px;
					color: #1e3d4d;
					height: 26px;
					width: 26px;
					border-radius: 1em;
					background: $c-3;
					cursor: pointer;

					&:hover {
						background: lighten($c-3, 5%);
					}
				}

				.tip {
					display: block;
					width: 100%;
					padding: $g-2;
					color: white;
					font: normal normal 100 14px/#{$f-1-l-h} $f-1;
					background: transparentize(white, .9);
					border-top: 1px solid transparentize(white, .8);
				}
			}
		}
	}

	p {
		display: block;
		text-align: center;
		padding: $g-3 0 0 0;
		font: normal normal 100 12px/#{$f-1-l-h} $f-1;
		color: transparentize(white, .2);

		a {
			text-decoration: none;
			cursor: pointer;
		}
	}
}

.create {
	p {
		a {
			color: $c-2;

			&:hover {
				color: lighten($c-2, 5%);
			}
		}
	}
}

.create {
	form {
		input[type="submit"] {
			width: 90%;
			display: block;
			margin: 0 auto;
			border-radius: 0 0 $g-1 $g-1;
		}
	}
}

.login {
	form {
		footer {
			width: 90%;
			margin: 0 auto;
			display: flex;

			div {
				flex: 0 0 auto;
				padding: $g-2 $g-3;
				background: $c-1;
				border-radius: 0 0 0 $g-1;
				border-right: 1px solid transparentize(white, .7);
				font: normal normal normal 16px/#{$f-1-l-h} $f-1;

				span {
					font-size: 12px;
					margin-right: $g-2;
				}

				input[type="checkbox"] {
					font-size: 30px;
				}
			}

			input[type="submit"] {
				flex: 1 1 auto;
				border-radius: 0 0 $g-1 0;
			}
		}
	}

	p {
		a {
			color: $c-1;

			&:hover {
				color: lighten($c-1, 5%);
			}
		}
	}
}