.waiting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&:after {
		@keyframes spinner {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		animation: spinner .5s linear 0s infinite normal forwards;
		border-radius: 50%;
		border: 3px solid white;
		border-bottom-color: transparent;
		border-right-color: transparent;
		height: 40px;
		width: 40px;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -20px 0 0 -20px;
		z-index: 0;
		box-sizing: border-box;
	}

}