.create.view {
	h1 {
		text-align: center;
		padding: $g-4 $g-4 $g-4 - $g-2 $g-4;

		svg {
			height: $g-4;

			path {
				fill: white;
			}
		}
	}

	h2 {
		text-align: center;
		font: normal normal 100 30px/#{$f-1-l-h} $f-1;
		margin: 0 0 $g-1 0;
	}

	.agreement {
		margin: $g-3 + $g-2 auto 0 auto;
		width: $g-7 + $g-6 + $g-4;
		max-width: 100%;
		padding: 0 $g-3;
		display: flex;
		justify-content: center;
		align-items: center;
		font: normal normal 100 16px/#{$f-1-l-h} $f-1;

		input {
			flex: 0 0 auto;
			font: normal normal 100 50px/#{$f-1-l-h} $f-1;
			cursor: pointer;
		}

		label {
			flex: 0 1 auto;
			padding: 0 $g-1 0 $g-2 + $g-1;

			a {
				border-bottom: 1px solid transparentize(white, .8);
				cursor: pointer;

				&:hover {
					border-bottom: 1px solid white;
				}
			}

		}
	}

	button.submit {
		margin: $g-3 + $g-2 auto $g-3 + $g-2 auto;
		display: block;
	}

	p {
		margin: 0 auto;
		width: $g-7 + $g-6 + $g-4;
		max-width: 100%;
		padding: 0 $g-3;
		text-align: center;

		&:nth-child(n + 2) {
			margin-top: $g-1;
		}

		a {
			border-bottom: 1px solid transparentize(white, .8);
			cursor: pointer;
			color: white;
			text-decoration: none;

			&:hover {
				border-bottom: 1px solid white;
			}
		}
	}

	.waiting {
		background: linear-gradient(to bottom, #12204f 0%, #052a38 37%, #131933 100%);
	}
}