.create.view {
	.notice {
		font: normal normal 100 16px/#{$f-1-l-h} $f-1;
		padding: 0 0 $g-3 0;
		max-width: $g-7 + $g-6;
		margin: 0 auto;
		text-align: center;
	}

	.agreement {
		margin: $g-3 + $g-2 auto 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		font: normal normal 100 16px/#{$f-1-l-h} $f-1;

		input {
			flex: 0 0 auto;
			font: normal normal 100 50px/#{$f-1-l-h} $f-1;
			cursor: pointer;
		}

		label {
			flex: 0 1 auto;
			padding: 0 $g-1 0 $g-2 + $g-1;
		}
	}

	button.submit {
		margin: $g-3 + $g-2 auto;
		display: block;
	}

	p {
		text-align: center;

		&:nth-child(n + 2) {
			margin-top: $g-1;
		}
	}
}