.start.view {
	h1 {
		text-align: center;
		padding: $g-4;

		svg {
			height: $g-4;

			path {
				fill: white;
			}
		}
	}

	.login {
		margin-top: $g-4;
	}

	.wrapper {
		margin-bottom: -76px;
		min-height: 100%;

		&:after {
			content: "";
			display: block;
			height: 76px;
		}
	}
}