#app {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, #12204f 0%, #052a38 37%, #131933 100%);
	color: white;
	font: normal normal normal 12px/#{$f-1-l-h} $f-1;

	.view {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}

	@import "app/components/button";
	@import "app/components/circle";
	@import "app/components/waiting";
	@import "app/components/footer";
	@import "app/components/getActivationLink";
	@import "app/components/tryToActivate";
	@import "app/components/create-and-login";
	@import "app/components/input";
	@import "app/views/waiting";
	@import "app/views/start";
	@import "app/views/activate";
	@import "app/views/error";
}